################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebSocketsDemoApp/WebSocketsDemo.Web/bin/Debug/netcoreapp3.1
